#header .headertop {
    background-color:cadetblue;
    display: flex;
    height: 50px;
}
#header .headertop > .menutop {
    margin-left: 300px;
}
#header .headertop > .menutop > ul > li {
    list-style: none;
    float: left;
    margin-left: 50px;

}
#header .headertop > .menutop > ul > li > a {
    color: white;
    font-weight: bold;
}

#header .headermiddle {
    background-color: wheat;
    height: 150px;
    display: flex;
}

#header .headermiddle .logo {
    margin: 20px 400px;
}
#header .headermiddle .search {
    margin: 50px -300px
}
#header .headermiddle .search > input {
    width: 300px;
    height: 25px;
}

.bottomheader > .menu{
    margin-top: -15px;
}
.bottomheader > .menu ul {
    background:cadetblue;
    list-style-type: none;
    text-align: left;
}
.bottomheader > .menu li {
    color: #f1f1f1;
    display: inline-block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    margin-left: 350px;
}
.bottomheader > .menu a {
    text-decoration: none;
    color: #fff;
    display: block;
    font-weight: bolder;
    text-align: center;
}
.bottomheader > .menu a:hover {
    background: #F1F1F1;
    color: #333;
}

.bottomheader .sub-menu {
    display: none;
    position: absolute;
}

