
#header .headertop {
    background-color:cadetblue;
    display: flex;
    height: 50px;
}
#header .headertop > .menutop {
    margin-left: 300px;
}
#header .headertop > .menutop > ul > li {
    list-style: none;
    float: left;
    margin-left: 50px;

}
#header .headertop > .menutop > ul > li > a {
    color: white;
    font-weight: bold;
}

#header .headermiddle {
    background-color: wheat;
    height: 150px;
    display: flex;
    
}

#header .headermiddle .logo {
    margin: 20px 400px;
}
#header .headermiddle .search {
    margin: 50px -300px
}
#header .headermiddle .search > input {
    width: 300px;
    height: 25px;
}

.bottomheader > .menu ul{
    
    background-color: cadetblue;
    list-style: none;
}

.bottomheader > .menu a{
    color: white;
}









