#header {
    display: block;
}
#headerTop {
    justify-content: center;
    background-color:whitesmoke;
}

#mainbody {
    position: relative;
}
#headerTop p {
    padding: 4px 0;
    text-align: center;
    font-size: 14px;
    font-family: 'Quicksand', sans-serif!important;
    line-height: 20px;
}

#headerMid {
    justify-content: center;
    background-color:lightblue;
    display: flex;
    height:70px;
}

#logo {
    border: solid 1px black;
    width: 25%;
    height: 70px;
}

#menu {
    border: solid 1px black;
    width: 50%;
    height: 70px;
}

#icon {
    border: solid 1px black;
    width: 25%;
    height: 70px;
}

#titleProduct > p {
    text-align: center;
    font-size: 20px;
    font-weight: 800;
}
#banner img {
    max-width: 100%;
}
#newProduct .colProduct{
    
    justify-content: center;
    flex: 25%;
    max-width: 25%;
    
}
#newProduct 
{
    display: flex;
    flex-wrap:wrap;
}

#newProduct div a{
    display: block;
    text-align: center;
}
#newProduct div img{
    max-width: 100%;
}

@media (max-width: 800px) {
    #newProduct .colProduct {
        justify-content: center;
        flex: 50%;
        max-width: 50%;
    }
}